*{
    margin:0;
  }
  html , body{
    width:100%;
    height:100%;
  }
  .back{
    background-image:url("http://2.bp.blogspot.com/-6Iv4rwZGVG4/VMCm6eQx_EI/AAAAAAAAAWc/j4uwyTVjBUs/s1600/Whatsapp-web.png");
    background-position:top;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    background-size:cover;
    
  }
