*{
    margin:0;
  }
  html , body{
    width:100%;
    height:100%;
  }
  .back{
    background-image:url("http://d.ibtimes.co.uk/en/full/1423019/whatsapp.jpg?w=736");
    background-position:top;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    background-size:cover;
    
  }
